{{#if resume.education.length}}
<div class="container education-container">
  {{> title value="Education"}} {{#each resume.education}}
  <section class="item">
    {{> section-header name=this.institution hideLocation=true }}

    <div class="details">
      {{#if location}}
        <h5 class="location">{{location}}</h5>
      {{/if}}
      <h5 class="dates italic">
        {{#if startDate}}
          <span class="startDate">{{formatDate startDate}}</span>
        {{#if endDate}}
          <span class="endDate"> - {{formatDate endDate}}</span>
        {{/if}}
        {{/if}}
      </h5>

    </div>

    <h4>{{#if studyType}}{{studyType}} - {{/if}}{{#if area}}{{area}}{{/if}}</h4>

    {{#if specialization}}
      <h5 class="specialization">{{specialization}}</h5>
    {{/if}}
    {{#if courses.length}}
      <ul class="two-column">
        {{#each courses}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
