{{#if resume.work.length}}
<div class="container work-container">
  {{> title value="Experience"}}

  {{#each resume.work}}
  <section class="item">
    {{> section-header name=this.name }}

    <div class="details">
      {{#if position}}
        <h4>{{position}}</h4>
      {{/if}}

      <h5 class="dates italic">
        {{#if startDate}}
          <span class="startDate">{{formatDate startDate}}</span>
        {{#if endDate}}
          <span class="endDate"> - {{formatDate endDate}}</span>
        {{else}}
          <span class="endDate"> - Present</span>
        {{/if}}
        {{else if releaseDate}}
          {{formatDate releaseDate}}
        {{/if}}
      </h5>
    </div>



    {{#if summary}}
      <p class="summary summary__list">{{summary}}</p>
    {{/if}}

    {{#if highlights.length}}
      <ul>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
