<div class="info-tag-container">
  {{#if icon}}
  <div class="icon-container">
    <i class="{{icon}}"></i>
  </div>
  {{/if}}

  {{#if url}}
  <h6 class="info-text">
    <a href="{{url}}" target="_blank">
      {{removeProtocol text}}
    </a>
  </h6>
  {{else}}
  <h6 class="info-text">{{{text}}}</h6>
  {{/if}}
</div>
