<div class="section-header">
  {{#if name}}
    <h3 class="company-name bold">
      {{#if website}}
        <a href="{{website}}" target="_blank">
          {{name}} <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      {{else}}
        {{name}}
      {{/if}}
    </h3>
    {{#if location}}
      {{#unless hideLocation}}
      <h5 class="location-name bold">{{location}}</h5>
     {{/unless}}
    {{/if}}
  {{/if}}
</div>
