<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>Covering Letter</title>
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/portfolio/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/portfolio/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
  </head>
  <body>
    <main id="covering-letter" class="page left-border">
      {{> covering-letter-header}}
      {{#coveringLetter.company}}

        <div class="covering-letter-content">
          <p>Dear {{hiringManager.name}},</p>

          <p>I am writing to express my interest in the {{position}} position{{#if companyKnown}} at {{name}}{{/if}}. I’m a software developer with more than 5 years' experience in developing and implementing user-friendly and visually appealing web applications for large audiences. I'm looking for an opportunity to apply my skills in new ways and I’d love to bring my expertise and enthusiasm to your growing engineering team.</p>

          <p>In my previous role at ITV, I honed my skills in designing and implementing user-centered front-end solutions. I have a deep understanding of modern web development technologies and frameworks, including HTML, CSS, JavaScript, React and TypeScript, and have used this knowledge to create engaging user experiences that meet both technical and business requirements.</p>

          <p>One of my greatest strengths is collaborating effectively with cross-functional teams, including designers, product managers, and back-end developers. I am also highly skilled in problem-solving and have a track record of delivering high-quality solutions on time.</p>

          {{#if examples}}
            <p>Examples of my achievements include:</p>
            <ul>
              {{#each examples}}<li>{{.}}</li>{{/each}}
            </ul>
          {{/if}}

          {{#if reasonsWhyCompany}}
            <p>
              {{#each reasonsWhyCompany}}{{.}} {{/each}}
            </p>
          {{/if}}

          <p>I am eager to bring my expertise and passion for creating amazing user experiences to your team and to contribute to the growth and success of your organisation.
            Thank you for considering my application. I look forward to the opportunity to further discuss my qualifications and how I can contribute to your team.</p>

          <p>Sincerely,</p>

          <p>Wilson Espina</p>

          <br/>

        </div>
      {{/coveringLetter.company}}
    </main>
  </body>
</html>
